body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	font-size: 16px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
	font-size: 1.125rem;
}
h4 {
	font-size: .75rem;
}

p {
	font-size: .875rem;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	width: 90%;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

header h1 {
	margin: 0;
	padding: 38px 0;
	width:100%;
	display: flex;
	justify-content: center;
	border-bottom: 5px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875rem;
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.main-image {
	width:90%;
	display: flex;
	justify-content: center;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	width: 90%;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	width: 90%;
	padding: 0;
	font-size: 1rem;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
	display: flex;
	flex-flow: wrap;
}

.section-one h4 {
	width: 100%;
	padding: 10px 30px;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 30px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1rem;
	line-height: 21px;
}

.address {
	font-size: 1rem;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	width: 90%;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875rem;
}

/* Tablet */
@media(min-width: 768px){
/* original min-width set to 910px as it looked the best without being squished */
/* TEST SECTION */

.bottom-section {
	width:95%;
}

.section-one,
.section-two,
.section-three {
	width: 30%;
	display: flex;
	justify-content: center;
	flex-grow: 1;

/* Current Section */
/* nav ul{
	width: 33.33333%;
}

nav ul li{
	display:flex;
	justify-content: space-between;
}

.section-one,
.section-two,
.section-three {
	width: 30%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
} */

}


/* Desktop */
@media(min-width: 1200px){

	.top-section,
	.bottom-section {
		width: 100%;
	}

	footer {
		width: 100%;
	}

	header {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}

	header h1 {
		width: 25%;
		display: flex;
		justify-content: flex-start;
		border-bottom: none;
	}

	.main-image {
		width:100%;
		display: flex;
		justify-content: center;
	}

	.main-title {
		width: 100%;
	}

	.menu {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	nav {
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		border-top: 1px solid #eee;
		display: flex;
		justify-content: center;
	}

	.section-one h4 {
		display:flex;
		justify-content: flex-start;
	}

	.section-two {
		flex-grow: 1;
	}
	.section-three p {
		display: flex;
		align-items: flex-start;
	}

	

}